/* Timer.css */
body {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .Timer {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    padding: 10px;
    z-index: 999;
    background-color: #333; /* Add background color to the timer */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .Timer p {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
  }
  
  /* Optional: Add a hover effect for the time display */
  .Timer:hover {
    background-color: #555;
  }
  