.color-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Add some padding to create space at the top */
  }
  .color-buttons {
    display: flex;
    gap: 50px;
    font-size: 30px; /* Increase the font size to 30px */
    padding: 20px 30px; /* Increase the padding to make the buttons larger */
  }
  
  
  .color-display-child {
    margin-top: 20px;
  }
  