.parent {
    position: relative;
    border: solid 2px rgb(255, 255, 255);
    /* Set the height of the parent container to the viewport height */
  }
  
  .child {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    border: solid 2px black;
    
  }
  
